.button {
  padding: 6px;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.checked {
  color: orange;
}

.fo {
  position:fixed;
 bottom:0;   /* Footer height */
}